.selection-message {
  label {
    color: #888;
    font-size: 13px;
  }

  h2 {
    display: inline-block;
    margin: 0 0 6px;
    padding: 2px 6px;
    border-radius: 0.25rem;
    font-size: 0.9rem;
    font-weight: normal;

    & {
      background: #eee;
    }
    @media (prefers-color-scheme: dark) {
      & {
        background: #333;
      }
    }

    &:not(:first-child) {
      margin-top: 16px;
    }
  }

  div {
    font-size: 1rem;

    span {
      margin-left: 2px;
      color: #666;
    }
  }
}

.selection-post {
  a {
    .inner {
      span {
        color: rgba(182, 0, 5, 1);
      }
    }
  }
}

.selection {
  .search-bar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 0;
    width: 100%;
    // height: 40px;
    z-index: 9;

    & {
      border-bottom: 0.55px solid #cbcbcd;
      background: #fff;
    }
    @media (prefers-color-scheme: dark) {
      & {
        border-bottom: 0.55px solid #2d2d2f;
        background: #1c1c1e;
      }
    }

    .search-frame {
      padding: 6px 12px;

      .search-box {
        // margin: 7px 12px;
        margin: 0;
        border-radius: 10px;

        & {
          background: #ebebed;
        }
        @media (prefers-color-scheme: dark) {
          & {
            background: #2a292e;
          }
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .search-bar-icon {
          padding: 0 10px;

          i {
            color: #888;
          }
        }

        input {
          display: block;
          height: 36px;
          width: 100%;
          padding: 0;
          border: 0;
          background: rgba(0, 0, 0, 0);
          font-size: 1.4rem;
          font-size: 14px;
          font-weight: 400;
          font-family: inherit;

          &:focus {
            border: 0 !important;
            box-shadow: none;
            outline: 0;
          }
        }

        .search-bar-button {
          padding: 0 8px;
          cursor: pointer;

          &.hidden {
            visibility: hidden;
            cursor: normal;
          }

          i {
            color: #888;
          }
        }
      }
    }
  }

  .sort {
    & {
      border-bottom: 0.55px solid #cbcbcd;
    }
    @media (prefers-color-scheme: dark) {
      & {
        border-bottom: 0.55px solid #2d2d2f;
      }
    }

    .buttons {
      margin: 0 12px;
      padding: 8px 0;
      display: flex;
      justify-content: flex-start;

      & > div {
        flex: 1;
        max-width: 150px;
        margin: 0;
        padding: 6px 0;
        text-align: center;
        font-size: 14px;
        cursor: pointer;

        & {
          background: #eeeef0;
        }
        @media (prefers-color-scheme: dark) {
          & {
            background: #333;
          }
        }

        &:first-child {
          border-radius: 0.25rem 0 0 0.25rem;
        }

        &:last-child {
          border-radius: 0 0.25rem 0.25rem 0;
        }

        i {
          margin-right: 6px;
          color: #666;
        }

        &.active {
          & {
            background: #ccc;
          }
          @media (prefers-color-scheme: dark) {
            & {
              background: #5b5a60;
            }
          }

          i {
            color: #eee;
          }
        }
      }
    }
  }

  .selection-list {
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    & {
      border-bottom: 0.55px solid #cbcbcd;
    }
    @media (prefers-color-scheme: dark) {
      & {
        border-bottom: 0.55px solid #2d2d2f;
      }
    }
    text-decoration: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background: #e6e5eb;
    }
    &:active {
      background: #e6e5eb;
    }
    @media (prefers-color-scheme: dark) {
      &:hover {
        background: #2c2c2e;
      }
      &:active {
        background: #2c2c2e;
      }
    }

    .content {
      // width, margin, margin, like, forward
      width: calc(100% - 12px - 2px - 24px - 30px);
      margin: 12px auto 12px 12px;

      &.add-edit,
      &.add-link {
        // width, margin, margin, like, forward, icon
        width: calc(100% - 12px - 2px - 24px - 30px - 22px);
      }

      &.add-edit.add-link {
        // width, margin, margin, like, forward, icon, icon
        width: calc(100% - 12px - 2px - 24px - 30px - 22px - 22px);
      }

      display: flex;
      flex-direction: column;

      .selection-title {
        width: 100%;
        min-height: 14px;
        margin: 0;
        font-size: 14px;
        overflow: hidden;

        & {
          color: #333;
        }
        @media (prefers-color-scheme: dark) {
          & {
            color: #ccc;
          }
        }

        & > span {
          line-height: 16px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .composer-arranger {
        width: calc(100% - 19px);
        margin: 2px 0 0;
        color: #888;
        font-size: 12px;
        overflow: hidden;
        font-weight: 200;

        & > span {
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          line-height: 14px;

          .bar {
            margin: 0 0.2em;
          }
        }
      }

      .selection-duration {
        width: 100%;
        margin: 0 0 2px;
        line-height: 12px;

        span {
          display: inline-block;
          margin: 0;
          color: rgba(182, 0, 5, 0.8);
          font-size: 12px;
        }
      }
    }

    .edit {
      display: flex;
      margin: 0 2px;
      color: #ccc;
    }

    .youtube-link {
      display: flex;
      margin: 0 2px;
      color: #ccc;
    }

    .like {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 16px;
      margin: 0 2px;
      padding: 2px;
      border-radius: 0.25rem;
      font-size: 10px;
      background: #eee;
      color: #888;
    }
  }

  .end-label {
    margin: 0;
    padding: 24px 0;
    color: #ccc;
    font-size: 0.9rem;
    text-align: center;
  }
}
