.selection {
  .selection-list {
    width: 100%;
    min-height: 44px;
    margin: 0;
    padding: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: .55px solid #d0d0d0;
    text-decoration: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;

    &:hover {
      background: #eee;
    }

    .content {
      width: calc(100% - 12px - 2px - 30px);
      margin: 12px 2px 12px 12px;

      &.add-edit, &.add-link {
        width: calc(100% - 12px - 2px - 30px - 34px);
      }

      &.add-edit.add-link {
        width: calc(100% - 12px - 2px - 30px - 34px - 34px);
      }

      display: flex;
      flex-direction: column;

      .selection-title {
        width: 100%;
        min-height: 14px;
        margin: 0;
        color: #333;
        font-size: 14px;
        overflow: hidden;

        & > span {
          line-height: 16px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }

      .composer-arranger {
        width: calc(100% - 19px);
        margin: 2px 0 0;
        color: #888;
        font-size: 12px;
        overflow: hidden;
        font-weight: 200;

        & > span {
          line-height: 14px;
          display: block;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          .bar {
            margin: 0 .2em;
          }
        }
      }
    }

    .edit {
      display: flex;
      margin: 0 8px;
      color: #ccc;
    }

    .youtube-link {
      display: flex;
      margin: 0 8px;
      color: #ccc;
    }
  }

  .end-label {
    margin: 0;
    padding: 24px 0;
    color: #ccc;
    font-size: .9rem;
    text-align: center;
  }
}