.photo-slide-modal {

  .photo-slide-modal-contents {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 51;
    background: rgba(0,0,0,0);

    // transition: transform .3s ease-in-out;
    transition: transform .2s ease-in-out;
    -webkit-transform: translate3d(0,105%,0);
    transform: translate3d(0,105%,0);
    -webkit-overflow-scrolling: touch;

    // &.pc {
    //   width: 900px;
    //   left: calc(50% - 450px);
    // }

    &.open {
      transition: transform .4s ease;
      -webkit-transform: translate3d(0,0%,0);
      transform: translate3d(0,0%,0);
      // box-shadow: 6px 0 25px rgba(0,0,0,.15);

      &.pc {
        // -webkit-transform: translateY(20%);
        // transform: translateY(20%);
      }

      .photo-slide-modal-close {
        position: fixed;
        top: 12px;
        right: 12px;
        width: 24px;
        padding: 4px;
        border-radius: 16px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 24px;
        cursor: pointer;
        z-index: 52;

        &:hover, &:active {
          background: rgba(255,255,255,.2);
        }
      }
    }

    .swiper-container {
      // background: rgba(0,0,0,.8);

      .swiper-custom-button-prev,
      .swiper-custom-button-next {
        position: absolute;
        top: 50%;
        width: 24px;
        height: 36px;
        margin-top: -18px;
        z-index: 10;
        color: #fff;
        font-size: 36px;
        cursor: pointer;
        background: none;
        opacity: 0.6;

        &.mobile {
          display: none;
        }

        &:hover {
          opacity: 0.8;
        }

        &.swiper-button-disabled {
          opacity: 0.35;
          cursor: auto;
          pointer-events: none;
        }
      }

      .swiper-custom-button-prev {
        left: 10px;
        right: auto;
      }
      .swiper-custom-button-next {
        right: 10px;
        left: auto;
      }
    }

    .archive-photo-slide {
      background: rgba(0,0,0,0);

      .swiper-container {
        background: rgba(0,0,0,0);
        .swiper-wrapper {
          background: rgba(0,0,0,0);
          .swiper-slide {
            background: rgba(0,0,0,0);
          }
        }
      }

      .each-original {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(0,0,0,0);

        img {
          display: block;
          width: 100%;
          max-width: 800px;
          height: auto;
          max-height: 100vh;
          object-fit: contain;
          z-index: 11;
        }

        .swiper-lazy-preloader {
          width: 36px;
          height: 36px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -18px;
          margin-top: -18px;
          font-size: 36px;
          text-align: center;
          z-index: 10;

          -webkit-transform-origin: 50%;
          -ms-transform-origin: 50%;
          transform-origin: 50%;
          -webkit-animation: none;
          animation: none;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .photo-slide-modal-background {
    display: none;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;

    &.open {
      display: block;/*カバーを表示*/
      opacity: .95;
      // transition: all 3s ease-in-out;
      // animation: menu-background-show .3s ease-in-out 0s;
    }
  }
}