.practice {
  width: 100%;
  // max-width: 600px;
  margin: 0 auto;
  // font-size: 13px;

  &.mobile {
    margin: 12px 0;
  }

  // background: #fff;

  &.pc {
    .contents-header {
      h2 {
        padding: 0 16px;
      }

      p {
        padding: 0 16px;
      }
    }
  }

  .contents-header {
    margin: 0;
    padding: 16px 0;
    background: #fff;

    h2 {
      padding: 0 12px;
      font-size: 1.2rem;
      font-weight: normal;
    }

    p {
      margin: 4px 0;
      padding: 0 12px;
      font-size: .9rem;
    }
  }
}