.navigation-header {
  width: 100%;

  .header {
    height: 60px;

    &.pc {
      height: 90px;
    }

    position: fixed;
    width: 100%;
    border-bottom: 0.5px solid #cbcbcd;
    text-align: center;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    justify-content: center;
    align-items: center;

    & {
      background: #fff;
    }
    @media (prefers-color-scheme: dark) {
      & {
        background: #1c1c1e;
        border-color: #2d2d2f;
      }
    }

    .logo {
      width: calc(100% - 44px);
      height: 36px;
      overflow: hidden;

      svg {
        width: calc(100% - 44px);
        height: 36px;
        overflow: hidden;
        fill: #b60005;
      }
    }
  }
}

.contents {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 60.5px 0 0 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
  contain: size style layout;
  z-index: 1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  margin-top: calc(constant(safe-area-inset-top) + 60.5px);
  margin-top: calc(env(safe-area-inset-top) + 60.5px);

  &.pc {
    margin: 90.5px 0 0 0;
  }

  & {
    background: #efeff4;
  }
  @media (prefers-color-scheme: dark) {
    & {
      background: #000;
    }
  }

  .form-base {
    width: 100%;
    max-width: 450px;
    margin: 12px 0 0;
    padding: 12px;

    & {
      background: #fff;
      color: #333;
    }
    @media (prefers-color-scheme: dark) {
      & {
        background: #1c1c1e;
        color: #fff;
      }
    }

    &.pc {
      margin: 36px 0 0;
      padding: 36px;
    }

    .form {
      margin: 12px 24px;

      &.pc {
        margin: 0;
      }
    }

    h2 {
      margin: 0 0 12px 0;
      font-size: 20px;
      font-weight: normal;

      &.pc {
        margin: 0 0 36px 0;
      }
    }
  }
}

.footer {
  width: 100%;
  margin: 48px 0;
  text-align: center;
  color: #888;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    & {
      color: #888;
      &:hover {
        color: #333;
      }
    }
    @media (prefers-color-scheme: dark) {
      & {
        color: #aaa;
        &:hover {
          color: #ccc;
        }
      }
    }
  }
}
