.selection-detail {
  ul.selection-detail-list {
    // margin: 0 12px;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      &:not(:first-child) {
        margin-top: 12px;
      }

      label {
        color: #888;
        font-size: 13px;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        word-break: break-all;

        .no-data {
          color: #ccc;
        }
      }

      .link {
        display: flex;
        margin: 0;

        .link-frame {
          display: inline-block;

          &:not(:first-child) {
            margin-left: 8px;
          }

          a {
            width: 45px;
            height: 45px;
            padding: 0;
            border-radius: 50%;
            background: #eee;
            text-decoration: none;
            color: #333;
            font-size: .9rem;

            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              background: #ccc;
            }

            &.youtube {

              i {
                font-size: 18px;
                color: #FF0000;
              }

              &:hover {
                i {
                  color: rgba(255,0,0,.6);
                }
              }
            }

            &.other {
              i {
                font-size: 18px;
                color: #666;
              }
            }
          }
        }

        .no-data {
          color: #ccc;
        }
      }
    }
  }

  .removed {
    margin: 0;
    padding: 24px 0;
    color: #ccc;
    text-align: center;
    font-size: .9rem;
  }
}

.selection-like {
  .like {
    display: flex;

    .count {
      display: flex;
      align-items: center;
      color: #666;

      span {
        margin-right: 2px;
        color: #333;
        font-size: 1rem;
      }
    }

    .button-frame {
      margin-left: auto;

      .button {
        display: inline-block;
        padding: 6px 12px;
        border-radius: .25rem;
        background: #eee;
        cursor: pointer;

        &:hover {
          background: #ccc;
        }

        &:active, &:focus {
          box-shadow: 0 0 0 0.2rem rgba(0,0,0,.25);
        }

        &.not-use {
          cursor: default;

          &:hover {
            background: #eee;
          }

          &:active, &:focus {
            box-shadow: none;
          }
        }

        &.true {
          background: rgba(182,0,5,.8);
          color: #fff;

          &:hover {
            background: rgba(182,0,5,1);
          }

          &:active, &:focus {
            box-shadow: 0 0 0 0.2rem rgba(182,0,5,.25);
          }

          &.not-use {
            cursor: default;

            &:hover {
              background: rgba(182,0,5,.8);
            }

            &:active, &:focus {
              box-shadow: none;
            }
          }
        }

        span {
          color: #666;

          i {
            margin-right: .2em;
          }

          &.like-true {
            color: #fff;
          }
        }
      }
    }
  }
}