.notice {

  .notice-attachment {
    & {
      border-top: .55px solid #cbcbcd;
    }
    @media (prefers-color-scheme: dark) {
      & {
        border-top: .55px solid #2d2d2f;
      }
    }

    a.attachment {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 12px;

      & {
        color: #333;
      }
      @media (prefers-color-scheme: dark) {
        & {
          color: #fff;
        }
      }

      &:hover {
        background: #e6e5eb;
      }
      @media (prefers-color-scheme: dark) {
        &:hover {
          background: #2c2c2e;
        }
      }

      .size {
        margin-left: auto;
        padding: 2px 4px;
        border-radius: 2px;
        font-size: 10px;

        & {
          color: #333;
          background: #ddd;
        }
        @media (prefers-color-scheme: dark) {
          & {
            color: #fff;
            background: #333;
          }
        }
      }
    }
  }
}

.auth .contents .box.notice {

  &.pc {
    .title-frame.notice-frame {

      .notice-text {
        font-size: 16px;
      }
    }
  }

  .title-frame.notice-frame {
    & > label.notice-title {
      display: flex;
      padding-top: 8px;
      padding-bottom: 8px;
      line-height: 1.6;

      // span:first-child {
      //   flex: 2;
      // }

      .date {
        margin-left: auto;
        font-size: 12px;
        color: #aaa;
        letter-spacing: normal;
      }
    }

    .notice-text {
      font-size: 14px;
    }
  }
}