// $base-color: #B60005;
$base-color: hsl(358, 100%, 36%);
$base-color-dark: hsl(358, 100%, 30%);
$base-color-bright: hsl(358, 100%, 40%);

$base-play-color: hsla(358, 100%, 36%, 1);
$base-play-color-light: hsla(358, 58%, 94%, 1);
$base-play-color-very-light: hsla(358, 58%, 98%, 1);
$base-play-color-half-light: hsl(358, 100%, 60%);

$main-base-color: #ea5505;
$mini-base-color: rgba(0, 191, 255, 1);
$other-base-color: #888;

$main-base-color-dark: hsl(21, 96%, 42%);
$mini-base-color-dark: hsl(195, 100%, 45%);
$other-base-color-dark: hsl(0, 0%, 48%);

$main-play-color: #ea5505;
$mini-play-color: rgba(0, 191, 255, 1);
$other-play-color: #888;

// $main-play-color-dark: hsl(21,96%,42%);
// $mini-play-color-dark: hsl(195,100%,45%);
// $other-play-color-dark: hsl(0,0%,48%);

$main-play-color-light: #fdeee6;
$mini-play-color-light: #e5f8ff;
$other-play-color-light: #eee;

$main-play-color-dark: hsl(21, 96%, 20%);
$mini-play-color-dark: hsl(195, 100%, 23%);
$other-play-color-dark: hsl(0, 0%, 26%);

$main-play-color-half-light: hsl(21, 96%, 60%);
$mini-play-color-half-light: hsl(195, 100%, 60%);
$other-play-color-half-light: hsl(0, 0%, 60%);

.audio {
  line-height: 14px;

  audio {
    display: none;
  }

  .player {
    position: fixed;
    left: 0;
    bottom: 0;
    height: calc(constant(safe-area-inset-bottom) + 44px);
    height: calc(env(safe-area-inset-bottom) + 44px);
    width: 100%;

    & {
      border-top: 0.55px solid #cbcbcd;
      background: #fff;
    }
    @media (prefers-color-scheme: dark) {
      & {
        border-top: 0.55px solid #2d2d2f;
        background: #333;
      }
    }

    transition: transform 0.2s linear;
    -webkit-transform: translate3d(0, 150%, 0);
    transform: translate3d(0, 150%, 0);
    z-index: 35;
    // -webkit-overflow-scrolling: touch;

    &.open {
      transition: transform 0.3s linear;
      -webkit-transform: translate3d(0, 0%, 0);
      transform: translate3d(0, 0%, 0);
      // box-shadow: 6px 0 25px rgba(0,0,0,.15);
    }

    .control {
      position: absolute;
      -webkit-appearance: none;
      width: 50px;
      height: 50px;
      margin: 0;
      // padding: 0 10px;
      border: 0;
      border-radius: 50%;
      font-size: 13px;
      cursor: pointer;
      transition: all ease-in-out 0.1s;

      color: #fff;

      & {
        background: #ccc;
      }
      @media (prefers-color-scheme: dark) {
        & {
          background: #666;
        }
      }

      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        background: $base-color-dark;
        color: #fff;
        transition: all ease-in-out 0s;

        &.main {
          background: $main-play-color;
        }
        &.mini {
          background: $mini-play-color;
        }
        &.other {
          background: $other-play-color;
        }
      }
      // &:active {
      //   background: hsl(358,100,30%);
      //   color: #fff;
      //   transition: all ease-in-out .1s;
      // }

      svg {
        width: 20px;
        height: 20px;
        fill: #fff;
      }

      // &.play {
      //   left: 10px;
      //   bottom: 10px;
      //   z-index: 39;

      //   &.playing {
      //     background: hsl(358,100,36%);
      //   }
      // }

      // &.stop {
      //   left: 10px;
      //   bottom: 10px;
      //   z-index: 38;
      //   transition: transform .3s linear;

      //   &.list-open {
      //     // left: 70px;
      //     -webkit-transform: translateX(60px);
      //     transform: translateX(60px);
      //   }
      // }

      &.play {
        top: -15px;
        left: 10px;
        // bottom: 10px;
        z-index: 39;
        transition: transform 0.2s ease-in-out;

        &.playing {
          background: $base-play-color;

          &.main {
            background: $main-play-color;
          }
          &.mini {
            background: $mini-play-color;
          }
          &.other {
            background: $other-play-color;
          }
        }
        &.list-open {
          transition: transform 0.3s ease-in-out;
          -webkit-transform: translate3d(-5px, -40px, 0);
          transform: translate3d(-5px, -40px, 0);
        }
      }

      &.stop {
        top: -15px;
        left: 10px;
        // bottom: 10px;
        z-index: 38;
        transition: transform 0.2s ease-in-out;

        &.playing {
          background: $base-play-color;

          &.main {
            background: $main-play-color;
          }
          &.mini {
            background: $mini-play-color;
          }
          &.other {
            background: $other-play-color;
          }
        }
        &.list-open {
          transition: transform 0.3s ease-in-out;
          // left: 70px;
          -webkit-transform: translate3d(55px, -40px, 0);
          transform: translate3d(55px, -40px, 0);
        }
      }

      &.prev {
        top: -15px;
        left: 10px;
        z-index: 38;

        &.playing {
          background: $base-play-color;
        }
        &.list-open {
          transition: transform 0.3s ease-in-out;
          // left: 70px;
          -webkit-transform: translate3d(115px, -40px, 0);
          transform: translate3d(115px, -40px, 0);
        }
      }

      &.next {
        top: -15px;
        left: 10px;
        z-index: 38;

        &.playing {
          background: $base-play-color;
        }
        &.list-open {
          transition: transform 0.3s ease-in-out;
          // left: 70px;
          -webkit-transform: translate3d(175px, -40px, 0);
          transform: translate3d(175px, -40px, 0);
        }
      }
    }

    .audio-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(constant(safe-area-inset-bottom) + 44px);
      height: calc(env(safe-area-inset-bottom) + 44px);
      background-size: 0% 100%;
      z-index: 37;

      & {
        background: linear-gradient(rgba(200, 200, 200, 0.8), rgba(200, 200, 200, 0.8)) no-repeat
          rgba(255, 255, 255, 0.8);
        @media (prefers-color-scheme: dark) {
          background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)) no-repeat rgba(0, 0, 0, 0.8);
        }
      }
      &.list-open {
        background: linear-gradient(rgba(200, 200, 200, 0.8), rgba(200, 200, 200, 0.8)) no-repeat
          rgba(255, 255, 255, 0.8);
        @media (prefers-color-scheme: dark) {
          background: linear-gradient(rgba(50, 50, 50, 0.8), rgba(50, 50, 50, 0.8)) no-repeat rgba(0, 0, 0, 0.8);
        }
      }
      &.playing {
        background: linear-gradient(rgba(234, 203, 203, 1), rgba(234, 203, 203, 1)) no-repeat rgba(255, 255, 255, 0.8);
        @media (prefers-color-scheme: dark) {
          background: linear-gradient(rgba(80, 80, 80, 0.8), rgba(80, 80, 80, 0.8)) no-repeat rgba(0, 0, 0, 0.8);
        }

        &.main {
          background: linear-gradient($main-play-color-light, $main-play-color-light) no-repeat rgba(255, 255, 255, 0.8);
          @media (prefers-color-scheme: dark) {
            background: linear-gradient($main-play-color-dark, $main-play-color-dark) no-repeat rgba(0, 0, 0, 0.8);
          }
        }
        &.mini {
          background: linear-gradient($mini-play-color-light, $mini-play-color-light) no-repeat rgba(255, 255, 255, 0.8);
          @media (prefers-color-scheme: dark) {
            background: linear-gradient($mini-play-color-dark, $mini-play-color-dark) no-repeat rgba(0, 0, 0, 0.8);
          }
        }
        &.other {
          background: linear-gradient($other-play-color-light, $other-play-color-light) no-repeat
            rgba(255, 255, 255, 0.8);
          @media (prefers-color-scheme: dark) {
            background: linear-gradient($other-play-color-dark, $other-play-color-dark) no-repeat rgba(0, 0, 0, 0.8);
          }
        }
      }
      &.list-open.playing {
        background: linear-gradient($base-play-color, $base-play-color) no-repeat rgba(255, 255, 255, 0.8);
        @media (prefers-color-scheme: dark) {
          background: linear-gradient($base-play-color, $base-play-color) no-repeat rgba(0, 0, 0, 0.8);
        }

        &.main {
          background: linear-gradient($main-play-color, $main-play-color) no-repeat rgba(255, 255, 255, 0.8);
          @media (prefers-color-scheme: dark) {
            background: linear-gradient($main-play-color, $main-play-color) no-repeat rgba(0, 0, 0, 0.8);
          }
        }
        &.mini {
          background: linear-gradient($mini-play-color, $mini-play-color) no-repeat rgba(255, 255, 255, 0.8);
          @media (prefers-color-scheme: dark) {
            background: linear-gradient($mini-play-color, $mini-play-color) no-repeat rgba(0, 0, 0, 0.8);
          }
        }
        &.other {
          background: linear-gradient($other-play-color, $other-play-color) no-repeat rgba(255, 255, 255, 0.8);
          @media (prefers-color-scheme: dark) {
            background: linear-gradient($other-play-color, $other-play-color) no-repeat rgba(0, 0, 0, 0.8);
          }
        }
      }

      .time {
        display: none;
      }

      &.list-open .time {
        width: calc(100% - 32px);
        height: 44px;
        padding: 0 16px;
        color: #fff;
        font-size: 13px;
        // font-family: "source-han-sans-japanese",sans-serif;
        cursor: default;

        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          display: block;
        }
      }
    }

    .audio-load-progress {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: calc(constant(safe-area-inset-bottom) + 44px);
      height: calc(env(safe-area-inset-bottom) + 44px);
      background-size: 0% 100%;
      z-index: 36;

      & {
        background: linear-gradient(rgba(200, 200, 200, 0.9), rgba(200, 200, 200, 0.9)) no-repeat rgba(255, 255, 255, 1);
      }
      &.list-open {
        background: linear-gradient(rgba(200, 200, 200, 0.9), rgba(200, 200, 200, 0.9)) no-repeat rgba(255, 255, 255, 1);
        // background: linear-gradient(rgba(120,120,120,1),rgba(120,120,120,1)) no-repeat rgba(180,180,180,1);
      }
      &.playing {
        background: linear-gradient(rgba(234, 203, 203, 1), rgba(234, 203, 203, 1)) no-repeat rgba(255, 255, 255, 1);

        &.main {
          background: linear-gradient($main-play-color-light, $main-play-color-light) no-repeat rgba(255, 255, 255, 0.8);
        }
        &.mini {
          background: linear-gradient($mini-play-color-light, $mini-play-color-light) no-repeat rgba(255, 255, 255, 0.8);
        }
        &.other {
          background: linear-gradient($other-play-color-light, $other-play-color-light) no-repeat
            rgba(255, 255, 255, 0.8);
        }
      }
      &.list-open.playing {
        background: linear-gradient(rgba(182, 0, 5, 1), rgba(182, 0, 5, 1)) no-repeat rgba(180, 180, 180, 1);

        &.main {
          background: linear-gradient($main-play-color, $main-play-color) no-repeat rgba(255, 255, 255, 0.8);
        }
        &.mini {
          background: linear-gradient($mini-play-color, $mini-play-color) no-repeat rgba(255, 255, 255, 0.8);
        }
        &.other {
          background: linear-gradient($other-play-color, $other-play-color) no-repeat rgba(255, 255, 255, 0.8);
        }
      }
    }

    .music-info {
      position: absolute;
      top: 0;
      left: 0;
      // width: calc(100vw - 70px);
      width: 100%;
      height: 44px;
      // margin-left: 70px;
      font-size: 13px;
      z-index: 38;
      cursor: pointer;

      & {
        color: #666;
      }
      @media (prefers-color-scheme: dark) {
        & {
          color: #aaa;
        }
      }

      // display: flex;
      // // justify-content: flex-start;
      // align-items: center;
      // flex-direction: column;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      &.playing {
        span:first-child {
          color: #888 !important;
        }

        span,
        svg {
          fill: #b60005;
        }
        &.main {
          span,
          svg {
            fill: $main-play-color;
          }
        }
        &.mini {
          span,
          svg {
            fill: $mini-play-color;
          }
        }
        &.other {
          span,
          svg {
            fill: $other-play-color;
          }
        }
      }

      &.list-open {
        display: none;
      }

      & > div {
        width: 100%;
        // display: flex;
        // // justify-content: flex-start;
        // align-items: center;
        // flex-direction: column;

        span {
          display: block;
          margin-left: 70px;
          margin-right: 44px;
          // color: #333;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:first-child {
            margin-bottom: 2px;
            color: #888;
            font-size: 12px;
            // font-family: "kan48typos-std",sans-serif;
          }

          &:last-child {
            font-size: 16px;
            // font-family: "tbchibirgothicplusk-pro",sans-serif;
          }

          svg {
            width: 12px;
            height: 12px;
            margin-right: 0.2em;
            // font-size: 16px;
          }
        }
      }
    }

    .label {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 44px;
      height: 44px;
      color: #b60005;
      z-index: 37;
      cursor: pointer;

      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);

      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        width: 16px;
        height: 16px;
      }

      &.list-open {
        z-index: 34;
      }

      &.main {
        color: $main-play-color;
      }
      &.mini {
        color: $mini-play-color;
      }
      &.other {
        color: $other-play-color;
      }

      // &.back {
      //   left: 8px;
      //   width: auto;

      //   i {
      //     margin-right: .2em;
      //   }

      //   a {
      //     // color: #054469;
      //     color: #488aff;
      //     text-decoration: none;
      //   }
      // }
    }
  }

  .music-list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 33;

    margin-top: calc(constant(safe-area-inset-top));
    // margin-bottom: constant(safe-area-inset-bottom);
    margin-left: constant(safe-area-inset-left);
    margin-right: constant(safe-area-inset-right);

    margin-top: calc(env(safe-area-inset-top));
    // margin-bottom: env(safe-area-inset-bottom);
    margin-left: env(safe-area-inset-left);
    margin-right: env(safe-area-inset-right);

    // transition: transform .3s ease-in-out;
    transition: transform 0.2s linear;
    -webkit-transform: translate3d(0, 105%, 0);
    transform: translate3d(0, 105%, 0);
    -webkit-overflow-scrolling: touch;

    &.pc {
      width: 50%;
      top: 20%;
      left: 50%;
      border-radius: 4px 0 0 0;
    }

    &.open {
      transition: transform 0.4s linear;
      -webkit-transform: translate3d(0, 0%, 0);
      transform: translate3d(0, 0%, 0);
      box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);

      &.pc {
        // -webkit-transform: translateY(20%);
        // transform: translateY(20%);
      }
    }

    .header {
      position: fixed;
      width: 100%;
      height: 44px;
      // text-align: center;
      z-index: 34;
      cursor: pointer;

      & {
        background: #fff;
        border-bottom: 0.55px solid #cbcbcd;
      }
      @media (prefers-color-scheme: dark) {
        & {
          background: #1c1c1e;
          border-bottom: 0.55px solid #2d2d2f;
        }
      }

      // display: flex;
      // // justify-content: center;
      // align-items: center;

      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;

      &.pc {
        border-radius: 4px 0 0 0;
      }

      // &.playing.main {
      //   background: $main-play-color-light
      // }
      // &.playing.mini {
      //   background: $mini-play-color-light;
      // }
      // &.playing.other {
      //   background: $other-play-color-light;
      // }

      &.playing {
        span:first-child {
          color: #888 !important;
        }

        span,
        svg {
          width: 16px;
          height: 16px;
          fill: #b60005;
        }
        &.main {
          span,
          svg {
            fill: $main-play-color;
          }
        }
        &.mini {
          span,
          svg {
            fill: $mini-play-color;
          }
        }
        &.other {
          span,
          svg {
            & {
              fill: $other-play-color;
            }
            @media (prefers-color-scheme: dark) {
              & {
                fill: #fff;
              }
            }
          }
        }
      }

      & > div {
        width: 100%;

        span {
          display: block;
          margin-left: 8px;
          margin-right: 44px;
          font-size: 14px;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          &:first-child {
            margin-bottom: 2px;
            color: #888;
            font-size: 12px;
            // font-family: "kan48typos-std",sans-serif;
          }

          &:last-child {
            // color: #333;
            font-size: 14px;
            // font-family: "tbchibirgothicplusk-pro",sans-serif;
          }

          svg {
            width: 12px;
            height: 12px;
            margin-right: 0.2em;
          }
        }
      }
    }

    .label {
      position: fixed;
      // top: 0;
      right: 0;
      width: 44px;
      height: 44px;
      color: #b60005;
      cursor: pointer;
      z-index: 34;

      display: flex;
      justify-content: center;
      align-items: center;

      &.close {
        svg {
          width: 16px;
          height: 16px;
        }

        &.main {
          color: $main-play-color;
        }
        &.mini {
          color: $mini-play-color;
        }
        &.other {
          color: $other-play-color;
        }
      }
    }

    .contents {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;

      margin: 44px 0 44px 0;
      overflow-x: hidden;

      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      will-change: scroll-position;
      contain: size style layout;
      background: #fff;
      z-index: 33;
      background: #efeff4;

      .album {
        &.archive {
          & {
            border-bottom: 0.55px solid #cbcbcd;
          }
          @media (prefers-color-scheme: dark) {
            & {
              border-bottom: 0.55px solid #2d2d2f;
            }
          }
        }

        &.practice {
          & {
            border-top: 0.55px solid #cbcbcd;
          }
          @media (prefers-color-scheme: dark) {
            & {
              border-top: 0.55px solid #2d2d2f;
            }
          }
        }

        &.source {
          & {
            border-top: 0.55px solid #cbcbcd;
          }
          @media (prefers-color-scheme: dark) {
            & {
              border-top: 0.55px solid #2d2d2f;
            }
          }
        }

        // animation 設定は index.scss
        // -webkit-animation: fadein .2s 1 ease-out;
        // animation: fadein .2s 1 ease-out;

        label {
          width: calc(100% - 12px);
          position: -webkit-sticky;
          position: sticky;
          top: 0;
          margin: 0;
          padding: 4px 0 4px 12px;
          font-size: 13px;
          font-weight: normal;
          // font-family: "kan48typos-std",sans-serif;
          cursor: pointer;

          & {
            color: #333;
            background: #f0f0f0;
          }
          @media (prefers-color-scheme: dark) {
            & {
              color: #ccc;
              background: #383838;
            }
          }

          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        &.playing {
          h2 {
            // background: rgba(248,229,230,1);
            color: $base-play-color;
            & {
              background: #fff;
            }
            @media (prefers-color-scheme: dark) {
              & {
                background: #333;
              }
            }
          }

          &.main h2 {
            color: $main-play-color;
            // background: $main-play-color-light;
          }
          &.mini h2 {
            color: $mini-play-color;
            // background: $mini-play-color-light;
          }
          &.other h2 {
            color: $other-play-color;
            // background: $other-play-color-light;
          }
        }

        // アーカイブ用
        .track {
          min-height: 28px;
          margin: 0;
          padding: 8px;
          font-size: 13px;
          cursor: pointer;

          display: flex;
          align-items: center;
          // justify-content: center;
          flex-direction: row;

          & {
            border-bottom: 0.55px solid #cbcbcd;
            background: #fff;
          }
          @media (prefers-color-scheme: dark) {
            & {
              border-bottom: 0.55px solid #2d2d2f;
              background: #1c1c1e;
            }
          }

          &:hover {
            background: #e6e5eb;
          }
          &:active {
            background: #e6e5eb;
          }
          @media (prefers-color-scheme: dark) {
            &:hover {
              background: #2c2c2e;
            }
            &:active {
              background: #2c2c2e;
            }
          }

          &:last-child {
            border-bottom: 0;
          }

          &.playing {
            background: $base-play-color-light;

            @media (prefers-color-scheme: dark) {
              background: #333;
            }

            &.main {
              background: $main-play-color-light;
              @media (prefers-color-scheme: dark) {
                background: #333;
              }
            }
            &.mini {
              background: $mini-play-color-light;
              @media (prefers-color-scheme: dark) {
                background: #333;
              }
            }
            &.other {
              background: $other-play-color-light;
              @media (prefers-color-scheme: dark) {
                background: #333;
              }
            }
          }

          .icon {
            margin-right: 8px;

            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              width: 16px;
              height: 16px;
              fill: #ccc;
              text-align: center;
              font-size: 16px;
            }
          }

          &.playing {
            .icon svg {
              fill: $base-play-color;
            }

            &.main .icon svg {
              fill: $main-play-color;
            }
            &.mini .icon svg {
              fill: $mini-play-color;
            }
            &.other .icon svg {
              fill: $other-play-color;
            }
          }

          .info {
            display: flex;
            // align-items: center;
            flex-direction: column;

            .title {
              // font-family: "tbchibirgothicplusk-pro",sans-serif;
              // font-weight: 500;
              // white-space: nowrap;
            }

            .composer {
              margin: 4px 0 0 0;
              color: #888;
              font-size: 10px;
              // font-family: "source-han-sans-japanese",sans-serif;
              font-weight: 200;
              white-space: nowrap;

              span {
                display: inline-block;
                margin: 0 0.2em;
              }
            }
          }
        }

        // 練習記録用
        .list {
          min-height: 28px;
          margin: 0;
          padding: 8px;
          font-size: 13px;
          cursor: pointer;

          & {
            border-bottom: 0.55px solid #cbcbcd;
            background: #fff;
          }
          @media (prefers-color-scheme: dark) {
            & {
              border-bottom: 0.55px solid #2d2d2f;
              background: #333;
            }
          }

          display: flex;
          align-items: center;
          // justify-content: center;
          flex-direction: row;

          &.add {
            padding: 8px;
          }

          &:hover {
            background: #e6e5eb;
          }
          &:active {
            background: #e6e5eb;
          }
          @media (prefers-color-scheme: dark) {
            &:hover {
              background: #2c2c2e;
            }
            &:active {
              background: #2c2c2e;
            }
          }

          &:last-child {
            // border-bottom: 0;
          }

          &.playing {
            background: $base-play-color-light;

            @media (prefers-color-scheme: dark) {
              background: #333;
            }

            &.main {
              background: $main-play-color-light;
              @media (prefers-color-scheme: dark) {
                background: #333;
              }
            }
            &.mini {
              background: $mini-play-color-light;
              @media (prefers-color-scheme: dark) {
                background: #333;
              }
            }
            &.other {
              background: $other-play-color-light;
              @media (prefers-color-scheme: dark) {
                background: #333;
              }
            }

            .time {
              & {
                background: #fff;
              }
              @media (prefers-color-scheme: dark) {
                & {
                  background: #333;
                }
              }
            }
            .more {
              color: $base-play-color;
            }
            & ~ .add {
              & {
                background: $base-play-color-very-light;
              }
              @media (prefers-color-scheme: dark) {
                & {
                  background: #333;
                }
              }

              &:hover {
                background: #e6e5eb;
              }
              &:active {
                background: #e6e5eb;
              }
              @media (prefers-color-scheme: dark) {
                &:hover {
                  background: #2c2c2e;
                }
                &:active {
                  background: #2c2c2e;
                }
              }

              &.playing {
                & {
                  background: $base-play-color-light;
                }
                @media (prefers-color-scheme: dark) {
                  & {
                    background: #2c2c2c;
                  }
                }
              }
            }
          }

          .icon {
            margin-right: 8px;

            display: flex;
            justify-content: center;
            align-items: center;

            svg {
              width: 16px;
              height: 16px;
              fill: #ccc;
              text-align: center;
              font-size: 16px;
            }
          }

          .more {
            margin-left: 8px;
            color: #ccc;
          }

          .time {
            margin: 0 0 0 auto;
            // margin-right: 8px;
            padding: 2px 6px;
            border-radius: 10px;
            font-size: 10px;
            & {
              background: #eee;
            }
            @media (prefers-color-scheme: dark) {
              & {
                background: #333;
              }
            }
          }

          &.playing {
            .icon svg {
              fill: $base-play-color;
            }

            &.main .icon svg {
              fill: $main-play-color;
            }
            &.mini .icon svg {
              fill: $mini-play-color;
            }
            &.other .icon svg {
              fill: $other-play-color;
            }
          }
        }

        &.close > div {
          overflow: hidden;
          max-height: 0;
          transition: max-height 0s linear;
        }
        &.open > div {
          max-height: 999px;
          transition: max-height 0.1s linear;
        }
      }

      // .notice {
      //   padding: 48px 0;

      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   flex-direction: column;

      //   &.border {
      //     border-top: 1px solid #d3d3d3;
      //   }

      //   i {
      //     margin-bottom: 16px;
      //     color: #aaa;
      //   }

      //   span {
      //     color: #aaa;
      //     font-size: 16px;
      //     font-family: "tbchibirgothicplusk-pro",sans-serif;
      //   }
      // }

      .gap {
        height: calc(constant(safe-area-inset-bottom) + 80px);
        height: calc(env(safe-area-inset-bottom) + 80px);
      }
    }
  }

  .music-list-background {
    display: none;
    position: fixed;
    z-index: 32;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;

    // transition: .3s ease-in-out;

    padding-top: constant(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);

    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    &.list-open {
      display: block; /*カバーを表示*/
      opacity: 0.35;
      animation: menu-background-show 0.3s ease-in-out 0s;
    }
  }
}
