.score-detail-status {
  line-height: 1.6;

  .score-status-info {
    display: flex;
    justify-content: center;
    align-items: stretch;

    &.pc > div {
      & > label {
        font-size: 16px;

        & + div {
          font-size: 32px;
        }
      }

      & > div {
        font-size: 16px;
      }
    }

    & > div {
      margin: 12px;
      padding: 8px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & {
        background: #f7f7f7;
      }
      @media (prefers-color-scheme: dark) {
        & {
          background: #333;
        }
      }

      & > label {
        font-size: 13px;
        color: #888;

        & + div {
          font-size: 24px;
          font-weight: bold;
        }
      }

      & > div {
        font-size: 13px;
      }

      .box-locate {
        margin: 0;
        padding: 4px 12px;
      }

      .score-status-display {
        & > label {
          display: block;
          margin: 0;
          padding: 4px 12px;
          border-radius: 4px;
          // color: #fff;
        }
      }
    }
  }
}

.score-detail-detail {
  line-height: 1.6;

  ul.score-detail-list {
    margin: 0 12px;
    padding: 0;
    list-style: none;

    li {
      padding: 8px 0;

      label {
        color: #888;
        font-size: 13px;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: 16px;
        word-break: break-all;

        .no-data {
          & {
            color: #ccc;
          }
          @media (prefers-color-scheme: dark) {
            & {
              color: #666;
            }
          }
        }
      }
    }
  }
}

.score-edit-link {
  div {
    display: block;
    width: 100%;
    height: 44px;
    line-height: 44px;
    margin: 0 auto;
    padding: 0;
    border: none;
    color: rgba(182, 0, 5, 1);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    & {
      background: #fff;

      &:hover,
      &:focus {
        background: #e6e5eb;
      }

      &:active {
        background: #e6e5eb;
      }
    }
    @media (prefers-color-scheme: dark) {
      & {
        background: #1c1c1e;

        &:hover,
        &:focus {
          background: #2c2c2e;
        }

        &:active {
          background: #2c2c2e;
        }
      }
    }

    i {
      margin-right: 0.2em;
    }
  }
}

.highlight-normal {
  background-color: #488aff;
}

.highlight-high {
  background-color: #b60005;
}

.highlight-low {
  background-color: #b60005;
}
