.setting-text {
  margin: 12px 0 0 0;
  padding: 4px 12px 12px;

  &.pc {
    padding: 8px 16px 16px;
  }

  label {
    display: block;
    margin: 8px 0 2px;
    font-size: 14px;
    color: #666;
  }

  input[type='password'] {
    -webkit-appearance: none;
    display: block;
    width: calc(100% - 20px - 2px);
    margin: 0;
    padding: 8px 10px;
    border-radius: 0.25rem;
    font-size: 17px;
    font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック Medium',
      meiryo, sans-serif;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    & {
      color: #333;
      background: #fff;
      border: 1px solid #cbcbcd;
    }
    @media (prefers-color-scheme: dark) {
      & {
        color: #fff;
        background: #222;
        border: 1px solid #333;
      }
    }

    &:focus {
      border: solid 1px rgba(182, 0, 5, 1);
      box-shadow: 0 0 0 0.2rem rgba(182, 0, 5, 0.25);
      outline: 0;
    }

    &:active {
      border: solid 1px rgba(182, 0, 5, 1);
    }
  }
}
