.terms {
  &.pc {
    .title {
      // padding: 13px 16px 14px;
      padding: 16px 16px 0;
      font-size: 1rem;
    }
  }

  .title {
    padding: 12px 12px 0;

    display: flex;
    align-items: center;

    & > div:first-child {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 0.55px solid #eee;
      border-radius: 20px;
      background: #fff;

      svg {
        width: 60px;
        height: 60px;
        padding: 4px;
        fill: #b60005;
      }
    }

    & > div:last-child {
      margin-left: 16px;
      border: 0;
      flex: 2;

      display: flex;
      justify-content: center;
      flex-direction: column;

      & .title span:first-child {
        font-size: 16px;
      }
    }
  }

  .monospaced {
    font-family: 'Courier New', Consolas, monospace;
  }

  .sub-title {
    h3 {
      margin: 0;
      font-weight: normal;
      font-size: 14px;
      color: #666;
    }
  }
}
