.manager-selection-post {
  margin: 12px 0 0 0;
  padding: 4px 12px 12px;

  &.pc {
    padding: 8px 16px 16px;
  }

  .form {

    & > div {
      margin: 8px 0 2px;

      &:not(:first-child){
        margin-top: 12px;
      }

      label {
        display: block;
        font-size: 14px;

        & {
          color: #666;
        }
        @media (prefers-color-scheme: dark) {
          & {
            color: #999;
          }
        }
      }

      .multi {
        input {
          &:not(:first-child){
            margin-top: 8px;
          }
        }
      }

      .add-data {
        margin: 2px 1px 0;
        font-size: 13px;
        color: #888;
        text-align: right;
        cursor: pointer;

        i {
          margin-right: 2px;
        }
      }
    }
  }
}

.manager-selection-post-button {
    margin-bottom: 32px;

    // .send-button to Auth.scss
}