// $base-color: #B60005;
$base-color: hsl(358, 100%, 36%);
$base-color-dark: hsl(358, 100%, 30%);
$base-color-bright: hsl(358, 100%, 40%);

$base-play-color: hsla(358, 100%, 36%, 1);
$base-play-color-light: hsla(358, 58%, 94%, 1);
$base-play-color-very-light: hsla(358, 58%, 98%, 1);
$base-play-color-half-light: hsl(358, 100%, 60%);

$main-base-color: #ea5505;
$mini-base-color: rgba(0, 191, 255, 1);
$other-base-color: #888;

$main-base-color-dark: hsl(21, 96%, 42%);
$mini-base-color-dark: hsl(195, 100%, 45%);
$other-base-color-dark: hsl(0, 0%, 48%);

$main-play-color: #ea5505;
$mini-play-color: rgba(0, 191, 255, 1);
$other-play-color: #888;

// $main-play-color-dark: hsl(21,96%,42%);
// $mini-play-color-dark: hsl(195,100%,45%);
// $other-play-color-dark: hsl(0,0%,48%);

$main-play-color-light: #fdeee6;
$mini-play-color-light: #e5f8ff;
$other-play-color-light: #eee;

$main-play-color-dark: hsl(21, 96%, 20%);
$mini-play-color-dark: hsl(195, 100%, 23%);
$other-play-color-dark: hsl(0, 0%, 26%);

$main-play-color-half-light: hsl(21, 96%, 60%);
$mini-play-color-half-light: hsl(195, 100%, 60%);
$other-play-color-half-light: hsl(0, 0%, 60%);

.archive-list {
  // padding: 12px 0;
  line-height: 14px;

  // .loading {
  //   padding: 28px 0;
  // }

  .concert-switch {
    width: calc(100% - 24px);
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    margin: 0;
    padding: 0px 12px 6px;

    & {
      border-bottom: 0.55px solid #cbcbcd;
      background: #fff;
    }
    @media (prefers-color-scheme: dark) {
      & {
        border-bottom: 0.55px solid #2d2d2f;
        background: #1c1c1e;
      }
    }

    display: flex;

    .switch {
      margin: 0 8px 0 0;
      padding: 6px;
      border-radius: 2px;
      font-size: 14px;
      // font-family: "tbchibirgothicplusk-pro",sans-serif;
      // transition: background-color .2s linear 0;
      cursor: pointer;

      & {
        background-color: #f7f7f7;
        color: #888;
      }
      @media (prefers-color-scheme: dark) {
        & {
          background-color: #333;
          color: #eee;
        }
      }

      &.on {
        background: #888;
        color: #fff;

        &.main {
          background-color: $main-base-color;
        }
        &.mini {
          background-color: $mini-base-color;
        }
        &.other {
          background-color: $other-base-color;
        }
      }
    }
  }

  .search-bar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0;
    width: 100%;
    // height: 40px;
    z-index: 9;

    & {
      background: #fff;
    }
    @media (prefers-color-scheme: dark) {
      & {
        background: #1c1c1e;
      }
    }

    &.search-mode {
      & {
        border-bottom: 0.55px solid #cbcbcd;
      }
      @media (prefers-color-scheme: dark) {
        & {
          border-bottom: 0.55px solid #2d2d2f;
        }
      }
    }

    .search-frame {
      padding: 6px 12px;

      .search-box {
        // margin: 7px 12px;
        margin: 0;
        border-radius: 10px;

        & {
          background: #ebebed;
        }
        @media (prefers-color-scheme: dark) {
          & {
            background: #2a292e;
          }
        }

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .search-bar-icon {
          padding: 0 10px;

          svg {
            width: 16px;
            height: 16px;
            fill: #888;
          }
        }

        input {
          display: block;
          height: 36px;
          width: 100%;
          padding: 0;
          border: 0;
          background: rgba(0, 0, 0, 0);
          font-size: 1.4rem;
          font-size: 14px;
          font-weight: 400;
          font-family: inherit;

          &:focus {
            border: 0 !important;
            box-shadow: none;
            outline: 0;
          }
        }

        .search-bar-button {
          padding: 0 8px;
          cursor: pointer;

          &.hidden {
            visibility: hidden;
            cursor: normal;
          }

          svg {
            width: 16px;
            height: 16px;
            fill: #888;
          }
        }
      }
    }
  }

  .search-result {
    .search-result-item {
      min-height: 44px;
      margin: 0;
      padding: 8px;
      font-size: 13px;

      & {
        border-bottom: 0.55px solid #cbcbcd;
      }
      @media (prefers-color-scheme: dark) {
        & {
          border-bottom: 0.55px solid #2d2d2f;
        }
      }

      display: flex;
      justify-content: space-between;
      align-items: center;

      div:first-child {
        padding: 0 0 0 8px;

        display: flex;
        flex-direction: column;

        &.main {
          border-left: 4px solid $main-play-color-half-light;
        }
        &.mini {
          border-left: 4px solid $mini-play-color-half-light;
        }
        &.other {
          border-left: 4px solid $other-play-color-half-light;
        }

        span {
          display: block;

          &.concert-title {
            margin-bottom: 2px;
            color: #888;
            font-size: 10px;
            // font-family: "kan48typos-std",sans-serif;
          }

          &.title {
            font-size: 14px;
            // font-family: "tbchibirgothicplusk-pro",sans-serif;
          }

          &.composer {
            margin: 2px 0 0 0;
            color: #888;
            font-size: 10px;
            // font-family: "source-han-sans-japanese",sans-serif;
            font-weight: 200;
            white-space: nowrap;

            span {
              display: inline-block;
              margin: 0 0.2em;
            }
          }
        }
      }

      div:last-child {
        // padding: 8px 8px 8px 0;
        // padding-right: 8px;

        display: flex;

        span {
          display: block;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          cursor: default;

          svg {
            width: 24px;
            height: 24px;
            fill: #eee;
          }
          @media (prefers-color-scheme: dark) {
            svg {
              fill: #333;
            }
          }

          display: flex;
          justify-content: center;
          align-items: center;

          &.on {
            svg {
              fill: $base-play-color-half-light;
            }
            cursor: pointer;

            &:hover {
              background: #f7f7f7;
            }
            @media (prefers-color-scheme: dark) {
              &:hover {
                background: #2c2c2e;
              }
            }

            &.main {
              svg {
                fill: $main-play-color-half-light;
              }
            }
            &.mini {
              svg {
                fill: $mini-play-color-half-light;
              }
            }
            &.other {
              svg {
                fill: $other-play-color-half-light;
              }
            }
          }

          a {
            color: inherit;
          }
        }
      }
    }
  }

  .concert-item {
    padding: 8px;
    // padding: 8px 12px;
    text-decoration: none;

    & {
      border-bottom: 0.55px solid #cbcbcd;
    }
    @media (prefers-color-scheme: dark) {
      & {
        border-bottom: 0.55px solid #2d2d2f;
      }
    }

    // animation 設定は index.scss
    -webkit-animation: fadein 0.2s 1 ease-out;
    animation: fadein 0.2s 1 ease-out;

    display: flex;

    &:last-child {
      border-bottom: none;
    }

    & {
      color: #333;

      &:hover {
        background: #e6e5eb;
      }

      &:active {
        background: #e6e5eb;
      }
    }
    @media (prefers-color-scheme: dark) {
      & {
        color: #ccc;

        &:hover {
          background: #2c2c2e;
        }

        &:active {
          background: #2c2c2e;
        }
      }
    }

    .info {
      padding-left: 8px;
      border-left: 4px solid #888;

      display: flex;
      flex-direction: column;

      &.main {
        border-left: 4px solid $main-base-color;
      }
      &.mini {
        border-left: 4px solid $mini-base-color;
      }
      &.other {
        border-left: 4px solid $other-base-color;
      }

      span {
        display: block;
        margin: 2px 0;
        font-size: 16px;
        // font-family: "ten-mincho",serif;
        // font-family: "tbchibirgothicplusk-pro",sans-serif;
        // font-family: "source-han-sans-japanese",sans-serif;
        // font-family: "kan48typos-std",sans-serif;

        &.date {
          color: #888;
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: 2px;

      i {
        color: #ccc;
        font-size: 1.2em;
      }
    }
  }

  .notice {
    padding: 48px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    svg {
      width: 20px;
      height: 20px;
      margin-bottom: 16px;
      color: #aaa;
    }

    span {
      color: #aaa;
      font-size: 16px;
      // font-family: "tbchibirgothicplusk-pro",sans-serif;
    }
  }
}
