.setting-status {
  label {
    display: block;
    color: #888;
    font-size: 12px;

    .secure i {
      color: rgba(50, 215, 75, 1);
    }

    .non-secure i {
      color: #888;
    }
  }

  .light {
    color: #888;
  }

  .label {
    display: inline-block;

    span {
      display: inline-block;
      margin: 0 0 0 8px;
      padding: 2px 6px;
      border-radius: 12px;
      background: rgba(50, 215, 75, 1);
      font-size: 12px;
      color: #fff;

      i {
        display: inline-block;
        margin-right: 0.2em;
      }
    }

    &.ok span {
      background: rgba(50, 215, 75, 1);
    }

    &.ng span {
      background: rgba(255, 69, 58, 1);
    }
  }
}
