@import '../../../../_color.scss';

.archive-list {
  // padding: 12px 0;
  line-height: 14px;

  // .loading {
  //   padding: 28px 0;
  // }

  .concert-switch {
    width: calc(100% - 24px);
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    margin: 0;
    padding: 0px 12px 6px;
    border-bottom: .55px solid #d3d3d3;
    background: #fff;

    display: flex;

    .switch {
      margin: 0 8px 0 0;
      padding: 6px;
      border-radius: 2px;
      background-color: #f7f7f7;
      color: #888;
      font-size: 14px;
      // font-family: "tbchibirgothicplusk-pro",sans-serif;
      // transition: background-color .2s linear 0;
      cursor: pointer;

      &.on {
        background: #888;
        color: #fff;

        &.main {
          background-color: $main-base-color;
        }
        &.mini {
          background-color: $mini-base-color;
        }
        &.other {
          background-color: $other-base-color;
        }
      }
    }
  }

  .search-bar {
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    margin: 0;
    width: 100%;
    // height: 40px;
    background: #fff;
    z-index: 9;

    &.search-mode {
      border-bottom: .55px solid #d3d3d3;
    }

    .search-frame {
      padding: 6px 12px;

      .search-box {
        // margin: 7px 12px;
        margin: 0;
        border-radius: 10px;
        background: #ededed;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .search-bar-icon {
          padding: 0 10px;

          i {
            color: #888;
          }
        }
        
        input {
          display: block;
          height: 36px;
          width: 100%;
          padding: 0;
          border: 0;
          background: rgba(0,0,0,0);
          color: #000;
          font-size: 1.4rem;
          font-size: 14px;
          font-weight: 400;
          font-family: inherit;

          &:focus {
            border: 0!important;
            outline: 0;
          }
        }

        .search-bar-button {
          padding: 0 8px;
          cursor: pointer;

          &.hidden {
            visibility: hidden;
            cursor: normal;
          }

          i {
            color: #888;
          }
        }
      }
    }
  }

  .search-result {

    .search-result-item {
      min-height: 44px;
      margin: 0;
      padding: 8px;
      border-bottom: .55px solid #d3d3d3;
      background: #fff;
      color: #333;
      font-size: 13px;
      cursor: pointer;

      display: flex;
      justify-content: space-between;
      align-items: center;

      div:first-child {
        padding: 0 0 0 8px;

        display: flex;
        flex-direction: column;

        &.main {
          border-left: 4px solid $main-play-color-half-light;
        }
        &.mini {
          border-left: 4px solid $mini-play-color-half-light;
        }
        &.other {
          border-left: 4px solid $other-play-color-half-light;
        }

        span {
          display: block;

          &.concert-title {
            margin-bottom: 2px;
            color: #888;
            font-size: 10px;
            font-family: "kan48typos-std",sans-serif;
          }

          &.title {
            font-size: 14px;
            font-family: "tbchibirgothicplusk-pro",sans-serif;
          }

          &.composer {
            margin: 2px 0 0 0;
            color: #888;
            font-size: 10px;
            font-family: "source-han-sans-japanese",sans-serif;
            font-weight: 200;
            white-space: nowrap;

            span {
              display: inline-block;
              margin: 0 .2em;
            }
          }
        }
      }

      div:last-child {
        // padding: 8px 8px 8px 0;
        // padding-right: 8px;

        display: flex;

        span {
          display: block;
          width: 44px;
          height: 44px;
          border-radius: 50%;
          color: #eee;

          display: flex;
          justify-content: center;
          align-items: center;

          &.on {
            color: $base-play-color-half-light;

            &:hover {
              background: #f7f7f7;
            }

            &.main {
              color: $main-play-color-half-light;
            }
            &.mini {
              color: $mini-play-color-half-light;
            }
            &.other {
              color: $other-play-color-half-light;
            }
          }
        }
      }
    }
  }

  .concert-item {
    padding: 8px;
    // padding: 8px 12px;
    border-bottom: .55px solid #d3d3d3;
    color: #333;
    text-decoration: none;

    // animation 設定は index.scss
    -webkit-animation: fadein .2s 1 ease-out;
    animation: fadein .2s 1 ease-out;

    display: flex;

    &:hover {
      background: #eee;
    }

    &:active {
      background: #e3e3e3;
    }

    .info {
      padding-left: 8px;
      border-left: 4px solid #888;

      display: flex;
      flex-direction: column;

      &.main {
        border-left: 4px solid $main-base-color;
      }
      &.mini {
        border-left: 4px solid $mini-base-color;
      }
      &.other {
        border-left: 4px solid $other-base-color;
      }

      span {
        display: block;
        margin: 2px 0;
        font-size: 16px;
        // font-family: "ten-mincho",serif;
        // font-family: "tbchibirgothicplusk-pro",sans-serif;
        // font-family: "source-han-sans-japanese",sans-serif;
        // font-family: "kan48typos-std",sans-serif;

        &.date {
          color: #888;
          font-size: 12px;
          line-height: 16px;
        }
      }  
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: 2px;

      i {
        color: #ccc;
        font-size: 1.2em;
      }
    }
  }

  .notice {
    padding: 48px 0;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    i {
      margin-bottom: 16px;
      color: #aaa;
    }

    span {
      color: #aaa;
      font-size: 16px;
      // font-family: "tbchibirgothicplusk-pro",sans-serif;
    }
  }
}