.cast {
  width: 100%;
  // max-width: 600px;
  margin: 0 auto;
  // font-size: 13px;

  &.mobile {
    margin: 12px 0;
  }

  // background: #fff;

  .contents-header {
    margin: 0;
    padding: 16px 0;
    background: #fff;

    h2 {
      padding: 0 16px;
      font-size: 16px;
      font-weight: normal;
    }
  }
}