.post-form {
  margin: 12px 0 0 0;
  padding: 4px 12px 12px;

  &.pc {
    padding: 8px 16px 16px;
  }

  label {
    display: block;
    margin: 8px 0 2px;
    font-size: 14px;
    color: #666;
  }
}

.post-button {
  margin-bottom: 32px;

  // .send-button to Auth.scss
}
