.score-box-list {
  padding: 8px 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  text-align: center;

  .score-box {
    // width: calc(33% - 2px - 32px);
    width: 30%;
    margin: 0 0 8px;
    padding: 0;
    cursor: pointer;

    & {
      border: .55px solid #cbcbcd;
      background: #fff;

      &:hover {
        background: #eee;
      }
    }
    @media (prefers-color-scheme: dark) {
      & {
        border: .55px solid #2d2d2f;
        background: #333;

        &:hover {
          background: #3c3c3c;
        }
      }
    }

    display: flex;
    flex-direction: column;

    &.blank {
      border: 0;
      cursor: default;
      background: inherit;

      &:hover {
        background: inherit;
      }
    }

    // @media (max-width: 768px) {
    //   & {
    //     width: calc(33% - 2px - 16px);
    //     margin: 8px;
    //   }
    // }

    .label {
      margin: 8px 0 0;
      border-radius: 2px;
      font-size: 36px;
      line-height: 36px;
      // font-weight: bold;
      font-weight: bold;
    }

    i {
      margin: 4px 0;
      color: #cba97b;
      // color: #d0b484;
      font-size: 56px;
    }

    .locate {
      font-size: 16px;
      margin: 0 0 8px 0;

      &.disabled {
        color: #ccc;
      }
    }

    &.disabled {
      border: 1px solid #ddd;
      background: #fcfcfc;
      color: #888;

      &:hover {
        background: #ddd;
      }

      .label {
        color: #888;
      }

      i {
        color: #ccc;
      }
    }
  }
}

.score-box-add-link {
  margin-bottom: 32px;

  // .send-button to Auth.scss
}