.archive-overview {
  font-size: 13px;
  line-height: 14px;

  .loading {
    padding: 28px 0;
  }

  .article {
    padding: 12px 0 0 0;

    .title {
      width: 100%;
      height: 30px;
      line-height: 30px;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      // margin: 0 12px;
      // padding: 8px 0;
      border: 0;
      // background: #f7f7f7;
      background: #fff;
      z-index: 5;

      display: flex;
      justify-content: space-between;

      &.pc {
        height: 36px;
        line-height: 36px;
      }

      h2 {
        margin: 0 12px;
        padding: 0;
        border: 0;
        color: #333;
        font-size: 16px;
        font-weight: normal;
        // font-family: "kan48typos-std",sans-serif;
        z-index: 5;
      }

      a {
        display: inline-block;
        padding: 2px 12px;
        text-decoration: none;
        color: #888;

        &:hover {
          color: #666;
        }

        &:active {
          color: #555;
        }
      }

      span {
        display: inline-block;
        padding: 2px 12px;

        i {
          color: #eee;
        }
      }
    }

    .concert-detail {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      padding: 0 0 .6em 0;
      border-radius: 0 0 2px 2px;
      // border-radius: 2px;
      background: #fff;

      @media (max-width: 767px) {
        & {
          flex-direction: column;
        }
      }

      .poster {
        flex: 1;
        order: 1;
        margin: 1em 0px 1em 2em;
        font-size: 1em;

        @media (max-width: 767px) {
          & {
            flex: 1;
            order: 2;
            margin: 0.5em .5em 0;
          }
        }

        img {
          width: calc(100% - 6px);
          padding: 2px;
          border: .55px solid rgba(180,180,180,1);

          @media (max-width: 767px) {
            & {
              height: 125vw;
            }
          }
        }
      }

      .no-poster {
        position: relative;
        width: 100%;
        background: #eee;
        z-index: 4;

        @media (max-width: 767px) {
          & {
            display: none;
          }
        }

        &:before {
          content: '';
          display: block;
          padding-top: 140%;
        }

        div {
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          svg {
            fill: #ddd;
            width: 60%;
          }

          span {
            display: block;
            padding: 0 0 0 0;
            // font-family: "source-han-sans-japanese",sans-serif;
            font-size: 14px;
            color: #ccc;
            text-transform: uppercase;
            letter-spacing: .1em;
          }
        }
      }

      .overview-detail {
        flex: 1.5;
        order: 2;
        margin: 12px 24px;

        @media (max-width: 767px) {
          & {
            flex: 2;
            order: 1;
            margin: 0;
            // font-size: .8em;
          }
        }

        label.sticky-label {
          position: -webkit-sticky;
          position: sticky;
          // top: 37px;
          top: 30px;
          display: block;
          width: calc(100% - 12px);
          padding: 8px 0 8px 12px;
          // background: #f0f0f0;
          color: #333;
          font-size: 16px;
          // font-family: "kan48typos-std",sans-serif;
          // font-weight: 200;

          &.pc {
            top: 36px;
          }
        }

        & > div > div {
          margin: 0;
          padding: 8px 12px;
          
          span:first-child {
            display: inline-block;
            margin-bottom: 4px;
            color: #888;
            font-size: 13px;
            // font-family: "source-han-sans-japanese",sans-serif;
            font-weight: 200;
          }
          span:last-child {
            display: block;
            margin-bottom: 4px;
            font-size: 15px;
            color: #333;
            // font-family: "kan48typos-std",sans-serif;
          }
        }

        & > ol {
          margin: 0;
          padding: 0;
          color: #333;
          list-style: none;
        }

        .music-list > li {
          // margin-bottom: .5em;

          label.sticky-label {
            letter-spacing: .25em;

            &.other {
              letter-spacing: 0;
            }
          }

          ol {
            margin: 0;
            padding: 0;
            list-style: none;
            // font-family: "tbchibirgothicplusk-pro",sans-serif;
            // border-top: 1px solid #ccc;

            li {
              padding: 8px 12px;
              font-size: 14px;
              // border-bottom: 1px solid #ccc;
            }
          }

          li.track {
            // margin-left: 4px;
            min-height: 28px;

            // display: flex;
            // // justify-content: center;
            // align-items: center;

            display: flex;
            align-items: center;

            &.has-audio {
              background: #fff;
              cursor: pointer;

              &:hover {
                background: #eee;
              }

              &:active {
                background: #e3e3e3;
              }


              // no Audio icon
              i {
                color: #ccc;
              }
            }

            div:first-child {
              // has Audio icon
              i {
                margin: 0 12px 0 0;
                color: #ccc;
              }
            }

            div {
              display: flex;
              flex-direction: column;

              span {
                display: block;
                font-size: 14px;

                &.composer {
                  margin: 2px 0;
                  color: #888;
                  font-size: 12px;
                  // font-family: "source-han-sans-japanese",sans-serif;
                  font-weight: 200;

                  span {
                    display: inline-block;
                    margin: 0 .2em;
                  }
                }
              }
            }

            ol {
              margin: 2px 0;

              li {
                margin: 0;
                padding: 2px 8px;
                font-size: 13px;
              }
            }
          }
        }
      }
    }
  }
}