.source {

  .source-list {
    line-height: 14px;

    h3 {
      margin: 0;
      padding: 8px 12px;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.6;

      &.pc {
        padding: 8px 16px;
      }
    }

    label.sticky-label {
      position: -webkit-sticky;
      position: sticky;
      // top: 37px;
      // top: 44px;
      top: 0px;
      display: block;
      width: calc(100% - 12px);
      padding: 8px 0 8px 12px;
      // border-bottom: .55px solid #d3d3d3;
      // background: #fff;
      background: #f0f0f0;
      color: #333;
      font-size: 16px;
      // font-family: "kan48typos-std",sans-serif;
      // font-weight: 200;

      &.pc {
        // top: 44px;
        top: 0px;
        padding-left: 16px;
      }
    }

    ol {
      margin: 0;
      padding: 0;
      color: #333;
      list-style: none;
    }

    li {
  
      label.sticky-label {
        letter-spacing: .25em;
  
        &.other {
          letter-spacing: 0;
        }
      }
  
      ol {

        li {
          padding: 8px 12px;
          font-size: 14px;
        }
      }
  
      li.track {
        min-height: 28px;
        letter-spacing: -0.001em;
  
        display: flex;
        align-items: center;
  
        &.has-audio {
          background: #fff;
          cursor: pointer;
  
          &:hover {
            background: #eee;
          }
  
          &:active {
            background: #e3e3e3;
          }
  
          // no Audio icon
          i {
            color: #ccc;
          }
        }
  
        div:first-child {
          // has Audio icon
          i {
            margin: 0 12px 0 0;
            color: #ccc;
          }
        }
  
        div {
          display: flex;
          flex-direction: column;
  
          span {
            display: block;
            font-size: 14px;
  
            &.composer {
              margin: 2px 0;
              color: #888;
              font-size: 12px;
              // font-family: "source-han-sans-japanese",sans-serif;
              font-weight: 200;
  
              span {
                display: inline-block;
                margin: 0 .2em;
              }
            }
          }
        }
  
        ol {
          margin: 2px 0;
  
          li {
            margin: 0;
            padding: 2px 8px;
            font-size: 13px;
          }
        }
      }
    }
  }
}