.loading {
  padding: 28px 0;
  margin: 0 auto;
  width: 60px;
  display: flex;
  justify-content: space-between;
}

.loading > div {
  width: 16px;
  height: 16px;
  background-color: #ccc;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.loading .loading1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loading .loading2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.full-loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #efeff4;

  & {
    background: #efeff4;
  }
  @media (prefers-color-scheme: dark) {
    & {
      background: #1c1c1e;
    }
  }
}
