body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', '游ゴシック  Medium',
    meiryo, sans-serif;
  line-height: 1.6;

  & {
    background: #efeff4;
  }
  @media (prefers-color-scheme: dark) {
    & {
      background: #333;
    }
  }
}
