.auth {
  color: #333;

  // .fade-enter {
  //   opacity: 0;
  //   -webkit-animation: fade 20s ease-in-out 10s 1 normal;
  //   animation: fade 20s ease-in-out 10s 1 normal;
  // }

  // .fade-enter.fade-enter-active {
  //   opacity: 1;
  //   // transition: opacity 5000ms ease-out;
  // }

  // .fade-exit {
  //   opacity: 1;
  //   -webkit-animation: fade 10s ease-in-out 0 1 reverse;
  //   animation: fade 10s ease-in-out 0 1 reverse;
  // }

  // .fade-exit.fade-exit-active {
  //   opacity: 0;
  //   // transition: opacity 2500ms ease-in;
  // }

  // @-webkit-keyframes fade {
  //   0% { opacity: 0; }
  //   100% { opacity: 1; }
  // }

  // @keyframes fade {
  //   0% { opacity: 0; }
  //   100% { opacity: 1; }
  // }

  // // .fade-enter {
  // //   opacity: 0;
  // //   overflow: hidden;
  // //   z-index: 1;
  // //   transform: translateY(50px);
  // //   // transition: all 250ms;
  // // }

  // // .fade-enter.fade-enter-active {
  // //   opacity: 1;
  // //   overflow: hidden;
  // //   transform: translateY(0);
  // //   transition: all ease 1s;
  // //   // transition: opacity 250ms ease-in;
  // // }

  // // .fade-exit {
  // //   display: none;
  // //   // opacity: 0;
  // //   overflow: hidden;
  // // }

  .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 45px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    z-index: 1;

    // background: rgba(220,220,220,.2);
    background: #efeff4;
    // background: rgb(230, 236, 240);

    &.pc {
      margin: 61px 0 0 0;
    }

    // &.mobile {
    //   margin-top: calc(12px + 45px);
    // }

    div.flex-frame {
      // menu: 300px, contents: 900px, margin: 16px * 4
      max-width: 1264px;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    // pcモードのとき追加
    .inline-contents {
      width: 900px;
      margin: 36px 16px 36px;
    }

    // mobileモードのとき追加
    .full-contents {
      margin: 32px 0;
    }

    .gap {
      height: 80px;
    }

    // 標準box
    &.pc {
      .box label {
        padding: 8px 0 8px 16px;
        font-size: 20px;
      }

      .box .text {
        // padding: 13px 16px 14px;
        padding: 16px;
        font-size: 1rem;
      }

      .box .link ul li a {
        padding-left: 16px;
      }
    }

    .contents-header {
      margin: 0;
      padding: 12px 0;
      background: #fff;

      .bread-navigation {
        padding: 0 12px;
        font-size: 12px;
        color: #888;

        a {
          color: #888;
          text-decoration: none;

          &:hover {
            color: #333;
            text-decoration: underline;
          }
        }

        i {
          padding: 0 .6em;
          font-size: 10px;
        }

        span {
          color: #666;
        }
      }

      h2 {
        padding: 0 12px;
        font-size: 16px;
        font-weight: normal;
      }

      p {
        margin: 0;
        padding: 0 12px;
        font-size: .9rem;
      }
    }
    
    &.pc {
      .contents-header {
        padding: 16px 0;

        .bread-navigation {
          padding: 0 16px;
          font-size: 13px;
        }

        h2 {
          padding: 0 16px;
        }

        p {
          padding: 0 16px;
        }
      }
    }

    .box {
      margin: 32px 0 0 0;
      // padding: 12px 0 0;
      background: #fff;

      // border-top: .55px solid #c8c7cc;
      // border-bottom: .55px solid #c8c7cc;

      .title-frame {
        // タイトルSticky用
        // padding: 12px 0 0;
      }

      label {
        display: block;
        // margin: 8px 0;
        padding: 4px 0 4px 12px;
        border-bottom: .55px solid #c8c7cc;
        // border-bottom: .55px dotted #c8c7cc;
        background: #fff;
        color: #333;
        font-size: 18px;
        letter-spacing: .1rem;

        position: -webkit-sticky;
        position: sticky;
        top: 0;

        // position: relative;
        // border-bottom: .55px solid #c8c7cc;

        // &::before {
        //   display: block;
        //   content: '';
        //   padding-top: 12px;
        // }
      }

      .text {
        // padding: 13px 16px 14px;
        padding: 12px;
        font-size: 1rem;

        p {
          margin: 0;
          padding: 0;
        }
      }

      .link {
        font-size: 1rem;

        ul {
          margin: 0;
          padding: 0;
          border-top: .55px solid #c8c7cc;

          li {
            list-style: none;
            // border-bottom: .55px solid #c8c7cc;

            a {
              display: block;
              margin: 0;
              padding-left: 12px;

              text-decoration: none;
              color: #333;

              &:hover {
                background: #eee;
              }

              &:active {
                background: #e3e3e3;
              }

              .inner {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                  margin: 11px 8px 11px 0;
                }

                i {
                  padding-right: 12px;
                  color: #666;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }

      &.back-to-home {
        padding: 0;
        // border: 0;
      }
      .back-link {
        font-size: 1rem;

        ul {
          margin: 0;
          padding: 0;
          // border-top: .55px solid #c8c7cc;

          li {
            list-style: none;
            // border-bottom: .55px solid #c8c7cc;

            a {
              display: block;
              margin: 0;
              padding-left: 16px;

              text-decoration: none;
              color: #333;

              &:hover {
                background: #eee;
              }

              &:active {
                background: #e3e3e3;
              }

              .inner {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span {
                  margin: 11px 8px 11px 0;
                }

                i {
                  padding-right: 16px;
                  color: #666;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    margin: 48px 0;
    text-align: center;
    color: #888;
  }
}