.auth {
  color: #333;

  .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 44.5px 0 0 0;

    .contents-inner {
      height: 100%;
      overflow-x: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-scrolling: touch;
      // Chromeだけっぽい
      // scroll-behavior: smooth;
      will-change: scroll-position;
      contain: size style layout;
      transform: translateZ(0); // Retinaスクロール対策
    }

    z-index: 1;

    transform: translateZ(0); // Retinaスクロール対策

    padding-top: constant(safe-area-inset-top);
    padding-bottom: constant(safe-area-inset-bottom);
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);

    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);

    // background: rgba(220,220,220,.2);
    background: #efeff4;
    // background: rgb(230, 236, 240);

    &.pc {
      margin: 61px 0 0 0;
    }

    // &.mobile {
    //   margin-top: calc(12px + 45px);
    // }

    div.flex-frame {
      // menu: 240px, contents: 900px, margin: 16px * 4
      max-width: 1204px;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    // pcモードのとき追加
    .inline-contents {
      width: 900px;
      min-width: 0; // 長いテキストを表示したときに要素を可変にするため
      margin: 36px 16px 36px;
    }

    // mobileモードのとき追加
    .full-contents {
      margin: 32px 0;
    }

    .gap {
      height: 65px;
    }

    .contents-header {
      margin: 0;
      padding: 12px 0;
      background: #fff;

      &.pc {
        padding: 16px 0;

        .bread-navigation {
          padding: 0 16px;
          font-size: 13px;
        }

        h2 {
          padding: 0 16px;
        }

        p {
          padding: 0 16px;
        }
      }

      &.mobile {
        border-top: .55px solid #c8c7cc;
        border-bottom: .55px solid #c8c7cc;
      }

      .bread-navigation {
        padding: 0 12px;
        font-size: 12px;
        color: #888;

        a {
          color: #888;
          text-decoration: none;

          &:hover {
            color: #333;
            text-decoration: underline;
          }
        }

        i {
          padding: 0 .6em;
          font-size: 10px;
        }

        span {
          color: #666;
        }
      }

      h2 {
        margin: 8px 0;
        padding: 0 12px;
        font-size: 16px;
        font-weight: normal;
      }

      p {
        margin: 0;
        padding: 0 12px;
        font-size: .9rem;
      }
    }

    .box-label {
      margin: 32px 0 11px;
      padding: 0 0 0 12px;
      font-size: 12px;
      color: #333;

      & + .box {
        margin: 0 0 32px 0;
      }

      &.pc {
        padding: 0 0 0 16px;
      }
    }

    // 標準box
    .box {
      margin: 32px 0 32px 0;
      // padding: 12px 0 0;
      background: #fff;

      // &.box-no-background {
      //   background: inherit;
      // }

      &.pc {
        .title-frame > label {
          padding: 8px 0 8px 16px;
          font-size: 20px;
        }

        .text {
          // padding: 13px 16px 14px;
          padding: 16px;
          font-size: 1rem;
        }

        .link ul li a .inner {
          padding-left: 16px;
        }

        .link ul li .disabled-link .inner {
          padding-left: 16px;
        }

        .link ul li .link-button .inner {
          padding-left: 16px;
        }

        .back-link ul li a .inner {
          padding-left: 16px;
        }
      }

      &.mobile {
        border-top: .55px solid #c8c7cc;
        border-bottom: .55px solid #c8c7cc;
      }

      // border-top: .55px solid #c8c7cc;
      // border-bottom: .55px solid #c8c7cc;

      .title-frame {
        // タイトルSticky用
        // padding: 12px 0 0;

        & > label {
          display: block;
          // margin: 8px 0;
          padding: 4px 0 4px 12px;
          padding: 0 12px;
          border-bottom: .55px solid #c8c7cc;
          // border-bottom: .55px dotted #c8c7cc;
          background: #fff;
          color: #333;
          font-size: 18px;
          letter-spacing: .1rem;

          // position: -webkit-sticky;
          // position: sticky;
          // top: 0;

          line-height: 44px;
          // position: relative;
          // border-bottom: .55px solid #c8c7cc;

          // &::before {
          //   display: block;
          //   content: '';
          //   padding-top: 12px;
          // }
        }
      }

      .text {
        // padding: 13px 16px 14px;
        padding: 12px;
        font-size: 1rem;

        p {
          margin: 0;
          padding: 0;
        }
      }

      .link {
        font-size: 1rem;

        ul {
          margin: 0;
          padding: 0;
          // border-top: .55px solid #c8c7cc;

          li {
            list-style: none;
            // border-bottom: .55px solid #c8c7cc;

            a {
              display: block;
              margin: 0;

              text-decoration: none;
              color: #333;

              &:hover {
                background: #eee;
              }

              &:active {
                background: #e3e3e3;
              }
            }

            &.link {
              cursor: pointer;
            }

            .inner {
              padding-left: 12px;
              cursor: pointer;

              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                // margin: 11px 8px 11px 0;
                line-height: 44px;
                font-size: 16px;
              }

              i {
                padding-right: 12px;
                color: #666;
                font-size: 1.2rem;
              }
            }

            .disabled-link {
              display: block;
              margin: 0;

              text-decoration: none;
              color: #ccc;

              .inner {
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                  // margin: 11px 8px 11px 0;
                  line-height: 44px;
                  font-size: 16px;
                }

                i {
                  padding-right: 12px;
                  color: #eee;
                  font-size: 1.2rem;
                }

                svg {
                  fill: #eee;
                }
              }
            }

            .link-button {
              // padding-left: 12px;
              cursor: pointer;
              color: #333;

              display: flex;
              justify-content: space-between;
              align-items: center;

              &:hover {
                background: #eee;
              }

              &:active {
                background: #e3e3e3;
              }

              span {
                // margin: 11px 8px 11px 0;
                line-height: 44px;
                font-size: 16px;
              }
            }
          }
        }
      }

      &.back-to-home {
        padding: 0;
        // border: 0;
      }

      .back-link {
        font-size: 1rem;
        line-height: 1.6;

        ul {
          margin: 0;
          padding: 0;
          // border-top: .55px solid #c8c7cc;

          li {
            list-style: none;
            // border-bottom: .55px solid #c8c7cc;

            a {
              display: block;
              margin: 0;

              text-decoration: none;
              color: #333;

              &:hover {
                background: #eee;
              }

              &:active {
                background: #e3e3e3;
              }

              .inner {
                padding-left: 12px;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                span {
                  // margin: 11px 8px 11px 0;
                  line-height: 44px;
                  font-size: 16px;
                }

                i {
                  padding-right: 8px;
                  color: #666;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    margin: 48px 0;
    text-align: center;
    color: #888;
  }
}

.border-top {
  border-top: .55px solid #c8c7cc;
}

.border-bottom {
  border-bottom: .55px solid #c8c7cc;
}

.no-border-top {
  border-top: 0!important;
}

.no-border-bottom {
  border-bottom: 0!important;
}

.mobile {
  &.border-top-mobile {
    border-top: .55px solid #c8c7cc;
  }

  &.border-bottom-mobile {
    border-bottom: .55px solid #c8c7cc;
  }

  &.no-border-top-mobile {
    border-top: 0!important;
  }

  &.no-border-bottom-mobile {
    border-bottom: 0!important;
  }
}