.auth {

  .contents {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    margin: 45px 0 0 0;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
    contain: size style layout;
    z-index: 1;

    div.flex-frame {
      max-width: 960px;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }

    .inline-contents {
      width: 600px;
      margin: 16px;
    }
  }

  .gap {
    height: 80px;
  }
}